*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(45, 78, 94);
    min-width: 300px;
}

 main{
    margin-top: 7%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
} 
main .resumeHeading{
    text-align: center;
    margin-top: -15px;
    position: absolute;
    background-color: white;
    width:15%;

}
main .resumeHeading h2{
    color:rgb(94, 199, 248);
    margin-bottom: -10px;
}
main .resumeHeading span{
    color:rgb(136, 208, 241);
}
main .container{
    border:2px solid rgba(109, 164, 187, 0.74);
    width:90%;
    display: flex;
    padding:5%;
    justify-content: space-between;
    align-items: center;
}

main section{
    width:45%;
}
.seperator{
    width:0.5%;
    height: 35rem;
    background-color: rgba(109, 164, 187, 0.74);
}
ul{
    margin-left: 5%;
}
